$fg1: #77e4c8;
$bg1: #478ccf;
$bg2: #4535c1;

@mixin coolButton($bg, $fg) {
	background-color: $bg;
	color: $fg;

	border: none;
	&:hover {
		background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
		cursor: pointer;
	}
}

.project-card {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 12px;

	border-radius: 8px;

	gap: 16px;
	width: 25vw;
	background-color: rgb(213, 213, 213);

	position: relative;

	.project-card-title {
		text-align: center;
		font-size: 48px;

		padding-bottom: 16px;
		border-bottom: 1px solid rgb(102, 102, 102);
	}

	.project-card-list {
		flex: 1;

		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 16px;
	}

	.project-card-del {
		top: -4px;
		right: 4px;
	}

	.project-card-add-btn {
		@include coolButton($bg1, white);

		height: 7%;
		border-radius: 25px;
		font-size: 24px;
	}
}

.btn-add-project {
	@include coolButton($bg2, white);

	height: 100px;
	width: 400px;
	border-radius: 25px;
	font-size: 26px;

	align-self: start;
}
