$header-height: 7vh;
$fg1: #77e4c8;
$fg2: #36c2ce;
$bg1: #478ccf;
$bg2: #4535c1;
$yellow: #f7df1e;

$font-s: 16px;
$font-m: 32px;
$font-l: 40px;
$font-xl: 64px;

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	padding: 16px;

	display: flex;
	justify-content: left;
	align-items: stretch;
	gap: 48px;
}

header {
	height: $header-height;
	background-color: $bg2;
	@include flex-center();

	a {
		color: white;
	}

	.fg-yellow {
		color: $yellow;
	}
}

main {
	height: calc(100vh - $header-height);
	background-color: $bg1;
}

footer {
	background-color: black;
	color: white;
	height: 3vh;

	font-size: $font-s;

	@include flex-center();
}

.a-spaced {
	margin-inline: 4px;
}

.a-nostyle,
.a-nostyle:visited {
	text-decoration: none;
}

.font-m {
	font-size: $font-m;
}

.x-btn {
	position: absolute;

	background: none;
	border: none;

	font-size: 24px;

	&:hover {
		cursor: pointer;
	}
}
