$checkbox-size: 32px;
$bg1: #478ccf;

.todo-card {
	height: 20%;

	display: grid;
	grid-template-columns: 1fr $checkbox-size;
	grid-template-rows: 1fr 2fr;
	grid-template-areas: "title check" "desc check";

	border-radius: 16px;
	padding: 8px;

	position: relative;

	.todo-card-title {
		grid-area: title;
		font-size: 28px;
		text-align: center;

		/* this is needed for the text to be truly centered (its the offset of the check box) */
		padding-left: $checkbox-size;
	}

	.todo-card-desc {
		grid-area: desc;
	}

	.todo-card-check {
		grid-area: check;
	}

	.todo-card-del {
		top: -4px;
		right: 4px;
	}
}

.todo-card-high-pr {
	background-color: rgb(253, 186, 186);
}
.todo-card-med-pr {
	background-color: white;
}
.todo-card-low-pr {
	background-color: rgb(192, 245, 249);
}

.todo-card-done {
	text-decoration: line-through;
	background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

#todo-popup {
	width: 30vw;
	height: 50vh;

	font-size: 32px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: stretch;

	#todo-popup-title {
		font-size: 40px;
		height: 15%;
	}

	#todo-popup-desc {
		font-size: 32px;
		height: 40%;
		resize: none;
	}

	#todo-popup-btn-container {
		display: flex;
		gap: 32px;

		height: 20%;
	}

	button {
		flex: 1;

		background-color: $bg1;
		color: white;
		border: none;
		border-radius: 24px;
		font-size: 32px;

		&:hover {
			cursor: pointer;
			background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
		}
	}
}
